html {
  font-size: 62.5%;
}
:root {
  --clr-primary: #dac6b9;
  --clr-secondary: #7877e7;
  --clr-text-primary: #383838;
  --clr-text-white: #fff;
  --clr-placeholder: #b2b2b2;

  --lg-res: 1024px;
  --ff-primary: "Anton";
  --ff-system: "Poppins";

  --ff-body: var(--ff-primary);
  --ff-header: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-heading: 5rem;
  --fs-heading-h1: 6.8rem;
  --fs-desc: 2rem;

  --lts-005: 0.05em;

  --lh--13: 1.3;
}
body {
  font-family: var(--ff-body);
  font-size: 1.6rem;
  color: #fff;
}
a {
  text-decoration: none;
}

/* container */
.container {
  --max-width: 1440px;
  --padding: 40px;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin: 0 auto;
  height: 100%;
}
.container-1185 {
  --max-width: 1185px;
  --padding: 185px;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin: 0 auto;
}
.animation-up {
  transition: all 0.55s linear;
}
.animation-up.is-active {
  animation: ani 500ms;
}
@keyframes ani {
  0% {
    opacity: 0.2;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* end container */
.heading-secondary {
  font-size: var(--fs-heading-secondary);
  color: var(--clr-text-primary);
}

/* mobile navigation toggle */
.mobile-nav-toggle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  z-index: 99;
}
.mobile-nav-toggle * {
  pointer-events: none;
}
.mobile-nav-toggle .bar {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  transform: translateX(-50%);
  background-color: var(--clr-text-white);
  transition: all 0.1s linear;
}
.mobile-nav-toggle #bar1 {
  top: 15px;
}
.mobile-nav-toggle #bar2 {
  bottom: 15px;
}
.mobile-nav-toggle.open #bar1 {
  width: 30px;
  transform: rotate(45deg) translate(1px, 5px);
}
.mobile-nav-toggle.open #bar2 {
  width: 30px;
  transform: rotate(-45deg) translate(1px, -5px);
}
.intro__btn-right,
.our-manifesto__bottom,
.our-manifesto__list-desc-bottom {
  display: none;
}

/* end mobile navigation toggle */

.even-column {
  display: flex;
  height: 100%;
}
.heading-primary {
  font-size: var(--fs-heading);
  color: var(--clr-text-primary);
}
.heading-h1 {
  font-size: var(--fs-heading-h1);
  line-height: var(--lh--13);
  letter-spacing: 0.03em;
}
/* button */
.btn {
  display: inline-block;
  position: relative;
  min-width: 110px;
  cursor: pointer;
  padding: 14.5px 20px;
  background-color: transparent;
  border-radius: 999px;
  border: 2px solid #fff;
  text-align: center;
  font-family: var(--ff-system);
  overflow: hidden;
}
.btn--light {
  border-color: var(--clr-text-white);
  color: var(--clr-text-white);
}
.btn--dark {
  border-color: var(--clr-text-primary);
  color: var(--clr-text-primary);
}
.btn--blue {
  border-color: var(--clr-secondary);
  color: var(--clr-secondary);
}
.btn span {
  position: relative;
  color: inherit;
  transition: all 250ms;
}

.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 999px;
  background-color: var(--clr-text-white);
  bottom: 0;
  right: 0;
  transition: all 250ms;
}
.btn--blue::before {
  background-color: var(--clr-secondary);
}
.btn--dark::before {
  background-color: var(--clr-text-primary);
}
.btn:hover::before {
  height: 100%;
}
.btn:hover span {
  color: var(--clr-text-primary);
}
.btn--dark:hover span,
.btn--blue:hover span {
  color: var(--clr-text-white);
}
/* end button */

/* text strong  */
.strong {
  font-size: 2.2rem;
  line-height: var(--lh--13);
  letter-spacing: var(--lts-005);
}
.strong--blue {
  color: var(--clr-secondary);
}
.strong--light {
  color: var(--clr-primary);
}
/* end text strong */

/* text desc */
.desc {
  font-size: 2.4rem;
  line-height: var(--lh--13);
  letter-spacing: var(--lts-005);
  color: var(--clr-text-white);
}
.desc--dark {
  color: var(--clr-text-primary);
}
/* end text desc */
/* header */
.header.home {
  padding: 35px 0 180px 0;
  background-color: black;
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* page: header programmes */
.programmes__container {
  --max-width: 768px;
  --padding: 185px;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin: 0 auto;
}
.header.our-programmes,
.header.about-education {
  background-color: var(--clr-text-primary);
  padding-top: 32px;
}
.header.our-programmes .navigation-primary,
.header.about-education .navigation-primary {
  padding-bottom: 32px;
}
.header.our-programmes .product {
  padding: 32px 0 45px 0;
}
.header.our-programmes .product__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.header.our-programmes .product__item {
  width: 100%;
  height: 460px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.header.our-programmes .product__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  visibility: hidden;
}
.header.our-programmes .product__title {
  color: var(--clr-text-white);
  margin: auto;
  z-index: 2;
  transition: all 0.15s ease;
  text-align: center;
  max-width: 350px;
}
.header.our-programmes .product__item:hover .product__img {
  transform: scale(1.1);
}
.header.our-programmes .product__item:hover .product__overlay {
  visibility: inherit;
}
.header.our-programmes .product__img {
  object-fit: cover;
  transition: all 0.15s linear;
}
/* end page: our-programmes */

/* start page: about futurepath programmes */
.header.about-education .about-us {
  padding: 95px 0 140px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-us__left {
  width: 50%;
}
.about-us__right {
  width: 50%;
}
.header.about-education .about-us__heading {
  color: var(--clr-primary);
  font-size: 5.8rem;
  text-transform: uppercase;
}
.header.about-education .about-us__strong {
  margin: 20px 0 30px 0;
  font-size: 3rem;
  color: var(--clr-secondary);
}
.header.about-education .about-us__desc,
.our-manifesto__desc {
  font-family: var(--ff-system);
  font-size: 1.67rem;
  line-height: var(--lh--13);
}
.header.about-education .about-us__desc:not(:first-child),
.header.about-education .about-us__desc:not(:last-child) {
  margin: 20px 0;
}

.read-our-manifesto {
  padding: 100px 0;
  text-align: center;
  background-color: var(--clr-primary);
}
.read-our-manifesto--amazing {
  background-color: #c0c0c0;
}
.read-our-manifesto--dark {
  background-color: var(--clr-text-primary);
}
.read-our-manifesto h2 {
  font-size: 15.4rem;
  letter-spacing: 0.05em;
  color: black;
}
.read-our-manifesto__content {
  max-width: 842px;
  margin: 0 auto;
}
.read-our-manifesto__btn {
  border-color: var(--clr-secondary);
  color: var(--clr-secondary);
}
.read-our-manifesto__btn span {
  color: inherit;
}
.heading-secondary.read-our-manifesto__heading--amazing {
  font-size: 7rem;
  line-height: 1.3;
  color: var(--clr-text-primary);
  margin-bottom: 55px;
}

.our-manifesto {
  background-color: var(--clr-text-primary);
  /* height: 100vh; */
}
.our-manifesto__right {
  width: calc(100% / 2);
}
.our-manifesto__right {
  height: 100%;
  margin-left: auto;
}
.our-manifesto__left {
  padding: 135px 0 0 60px;
  width: 32.6%;
}
.our-manifesto__heading {
  color: var(--clr-primary);
  line-height: 1.3;
}
.our-manifesto__desc {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.our-manifesto__strong {
  font-size: 2.2rem;
  color: var(--clr-secondary);
  padding: 10px 0 20px 0;
}
.our-manifesto__flex {
  display: flex;
  flex-direction: row-reverse;
}
.our-manifesto__right--auto {
  margin-right: auto;
  margin-left: 0;
}
.our-manifesto__left--padding {
  padding-right: 60px;
}
.our-manifesto--light {
  background-color: #e0e0e0;
}
.our-manifesto__heading--light,
.our-manifesto__desc--light {
  color: var(--clr-text-primary);
}
.intro {
  background-color: var(--clr-secondary);
  padding: 110px 0 100px 0;
}
.intro__container {
  --max-width: 1200px;

  max-width: var(--max-width);
  margin: 0 auto;
}
.intro__content {
  display: flex;
  justify-content: space-between;
}
.intro__left {
  width: 50%;
}
.intro__ask {
  font-size: 4.8rem;
  color: black;
  max-width: 414px;
}
.intro__desc {
  font-size: 1.6rem;
  font-family: var(--ff-system);
  margin-top: 30px;
}
.intro__right {
  margin-top: 155px;
}
.intro__michael {
  text-align: center;
}
.intro__avatar {
  width: 370px;
  height: 370px;
}
.intro__img {
  border-radius: 25px;
}
.intro__name {
  font-size: 2.9rem;
  margin: 15px 0 30px 0;
  letter-spacing: var(--lts-005);
}
.intro__prime {
  font-size: 2rem;
}
.intro__btn {
  margin-top: 55px;
  width: 230px;
  height: 72px;
}
/* end page: about futurepath programmes */

/* start page: why us */
.why {
  padding: 120px 0 125px 0;
  display: flex;
}
.why__left,
.why__right {
  width: calc(100% / 2);
  display: grid;
}
.why__heading {
  color: var(--clr-text-white);
  margin: auto;
  font-size: 6.3rem;
  letter-spacing: 0.05em;
}
.why__strong {
  color: var(--clr-secondary);
}
.read-our-manifesto__heading--amazing.read-our-manifesto__heading--dark {
  color: var(--clr-primary);
}
/* end page: why us */
.fqas {
  display: grid;
}
.fqas__heading {
  margin: auto;
  padding: 85px 0 100px 0;
  color: var(--clr-primary);
}

.faqs-accordion {
  background-color: var(--clr-text-primary);
}
.faqs-accordion__container {
  max-width: 1070px;
  margin: 0 auto;
}
.faqs-accordion__item {
  border-top: 1px solid var(--clr-secondary);
}
.faqs-accordion__item:last-child {
  border-bottom: 1px solid var(--clr-secondary);
}
.faqs-accordion__header {
  padding: 40px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.faqs-accordion__header * {
  pointer-events: none;
}
.faqs-accordion__ques {
  font-size: 3rem;
  color: var(--clr-secondary);
}
.faqs-accordion__icon {
  font-size: 3.3rem;
  margin-left: auto;
  color: var(--clr-placeholder);
  transition: all 0.15s linear;
}
.faqs-accordion__icon.rotate {
  transform: rotate(-180deg);
}
.faqs-accordion__content {
  height: 0;
  overflow: hidden;
  transition: all 0.15s linear;
}
.faqs-accordion__inner {
  padding-bottom: 30px;
  font-size: 1.9rem;
}
.faqs-accordion__ans {
  letter-spacing: 0.05em;
}
.faqs-accordion__list-sub-ans {
  list-style-type: disc;
  padding-left: 30px;
  margin: 30px 0;
}
.faqs-accordion__list-sub-ans li {
  letter-spacing: 0.05em;
}
.faqs-accordion__ans:not(:last-child) {
  margin-bottom: 45px;
}
.faqs-accordion__content.active {
  height: auto;
}
.faqs-accordion__ans {
  color: var(--clr-text-white);
}
/* start page: fqas */

/* end page: fqas */

/* start page: location */
.location {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 65px 0 90px 0;
}
.location__heading {
  width: calc(100% / 3);
  color: var(--clr-secondary);
}
.location__desc {
  width: calc(100% / 3);
}
.location-image {
  width: 100%;
  height: 100vh;
}
.location-image img {
  object-fit: cover;
}
.location__desc {
  font-family: var(--ff-system);
  font-size: 1.8rem;
}
.location__desc:last-child {
  margin: 0 50px;
}
/* end page: location */
.mobile-nav-toggle {
  display: none;
}
.navigation-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .img {
  width: 200px;
}
.header .nav-list {
  display: flex;
  gap: 25px;
}
.header > .nav-item {
  display: inline-block;
  margin: 0 12px;
}
.header .nav-item {
  position: relative;
  padding: 10px 0;
}
.header .sub-nav {
  position: absolute;
  top: 42px;
  background-color: #383838;
  margin-left: -15px;
  width: 250px;
  padding: 5px 0;
  box-shadow: rgba(226, 226, 226, 0.25) 0px 2px 5px -1px,
    rgba(221, 219, 219, 0.3) 0px 1px 3px -1px;

  display: none;
  z-index: 90;
}
.header .nav-list > .nav-item:hover .sub-nav {
  display: block;
}
.header .sub-nav .nav-item {
  padding-left: 15px;
}
.header .nav-item .nav-link {
  position: relative;
}
.header .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 250ms;
}

.header .nav-item .nav-link:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header .nav-item .nav-link.active:before {
  transform: scaleX(1);
}

.header .nav-list .nav-link {
  font-size: 2rem;
  color: #fff;
}

/* hero */
.hero {
  margin-top: 165px;
}
.hero__heading {
  width: 800px;
}
.hero strong {
  display: inline-block;
  position: relative;
  transition: all 0.25s linear;
}
.hero strong::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -8px;
  right: 110%;
  bottom: 0;
  height: 10px;
  border-radius: 999px;
  background-color: #7877e6;
  transition: all 0.75s linear;
}
.hero strong.active::before {
  right: -8px;
}
.hero .desc {
  margin-top: 20px;
  max-width: 535px;
  font-size: 2.8rem;
  line-height: 1.3;
  color: #fff;
}
.hero .info {
  margin: 30px 0;
  color: #e1ccbe;
}
.hero .cta {
  width: 238px;
}

/* more */
.more {
  background-color: #7877e6;
  padding-bottom: 50px;
}
.more--light {
  background-color: var(--clr-primary);
}
.more__content p {
  font-size: 12.8rem;
}
.more__scrolling {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
}
.more__content {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 35s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.more__content p {
  display: inline-block;
  position: relative;
  padding: 0 75px;
  text-transform: uppercase;
  color: var(--clr-text-primary);
}
.more__content p::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 35px;
  border-radius: 45%;
  background-color: var(--clr-text-primary);
  top: 50%;
  transform: translate(-50%, -50%);
}
.more__content p::after {
  left: 0;
}
.more__container {
  --max-width: 1320px;
  --padding: 185px;

  width: min(var(--max-width), 100% - var(--padding) * 2);
  margin: 0 auto;
}
.more__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.more__left {
  width: calc(55%);
}
.more__desc {
  margin-top: 10px;
}
.more__strong {
  margin: 15px 0 75px 0;
}
.more__img {
  width: 390px;
  height: 390px;
  border-radius: 50%;
  object-fit: cover;
}
/* more more-secondary */
.more.more-secondary {
  background-color: var(--clr-primary);
}
.more.more-secondary .desc {
  color: var(--clr-text-primary);
}
.more.more-secondary .strong {
  color: var(--clr-secondary);
  object-fit: cover;
}

/* .programmes */
.programmes {
  background-image: url(../images/list-of-programmes.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  text-align: center;
  padding: 60px 0 110px 0;
}
.programmes__desc {
  margin: 20px 0;
}
.programmes__strong {
  font-size: 2.3rem;
  color: var(--clr-secondary);
}
.programmes__list {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 50px auto 10px;
}
.programmes__item-list {
  color: var(--clr-text-primary);
  position: relative;
  font-size: 1.8rem;
}
.programmes__item-list:not(:last-child) {
  margin-bottom: 20px;
}
.programmes__item-list:not(:first-child)::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: var(--clr-text-primary);
  border-radius: 50%;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* futurepath */
.futurepath {
  background-image: linear-gradient(to right, #f2de80, #c0cdc0);
  text-align: center;
  padding: 110px 0 60px;
}
.futurepath__content {
  max-width: 1070px;
  margin: 0 auto;
}
.futurepath__heading-secondary {
  font-size: 6.2rem;
  line-height: 1.4;
  color: var(--clr-text-primary);
  letter-spacing: 0.02em;
}

/* gallery */
.gallery {
  background-color: var(--clr-text-primary);
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 253px));
}
.gallery__item {
  height: 253px;
}
/* start page: faculty */
.faculty-intro {
}
.faculty-intro__content {
  position: relative;
  width: 100%;
  height: 100vh;
}
.faculty-intro {
}
.faculty-intro__heading {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  color: #e0e0e0;
}
.faculty-mentor {
  padding: 20px 0 100px 0;
  background-color: var(--clr-primary);
}
.faculty-mentor--dark {
  background-color: var(--clr-text-primary);
}
.faculty-mentor__container {
  width: 1130px;
  margin: 0 auto;
}
.faculty-mentor__content {
  display: flex;
  justify-content: space-between;
}
.faculty-mentor__left {
  width: 480px;
  margin-top: 45px;
}
.faculty-mentor-heading {
  color: black;
}
.faculty-mentor-heading--dark {
  color: var(--clr-secondary);
}
.faculty-mentor__desc {
  margin-top: 30px;
}
.faculty-mentor__container-logo {
  text-align: center;
  margin-bottom: 120px;
}
.faculty-mentor__logo {
  display: inline-block;
  height: 100px;
}
.faculty-mentor__img {
  width: 350px;
  height: 630px;
  border-top-left-radius: 99999px;
  border-top-right-radius: 99999px;
  overflow: hidden;
}
.faculty-mentor__desc {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}
/* end page: faculty */

/* start page: academic information */
.academic {
  padding: 85px 0 110px 0;
}
.academic__content {
  width: 715px;
  margin: 0 auto;
  text-align: center;
}
.academic__heading {
  --width: 440px;

  width: var(--width);
  margin: 0 auto;
  color: var(--clr-secondary);
  letter-spacing: var(--lts-005);
  line-height: var(--lh--13);
}
.academic__desc {
  margin-top: 20px;
  font-size: var(--fs-desc);
  line-height: var(--lh--13);
  letter-spacing: var(--lts-005);
}
/* end page: academic information */

/* start page: contact-us */
.contact-us {
  background-color: var(--clr-text-primary);
}
.form {
  padding: 55px 0 55px 0;
  background-color: var(--clr-text-primary);
}
.form input,
.form textarea {
  padding: 15px;
  display: block;
  width: calc(100% - 35px);
  border-radius: 3px;
  outline: none;
  border: none;
  margin: 5px 0;
  font-family: var(--ff-system);
  caret-color: #7877e6;
  font-size: 1.8rem;
}
.form label {
  display: inline-block;
}
.form input:focus-visible {
  outline-offset: 4px;
  outline: 2px solid #fff;
}
.form__group {
  width: 710px;
  margin: 0 auto;
}
.form__title-full-name {
  font-size: 2rem;
}
.form__full-name {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.form__full-name label {
  margin-top: 10px;
}
.form__first-name,
.form__last-name {
  width: calc(100% / 2);
}
.form__email {
  margin-top: 30px;
}
.form__email label {
  font-size: 2rem;
  letter-spacing: var(--lts-005);
}
.form__message textarea {
  width: calc(100% -30px);
  height: 200px;
}
.form__ask span {
  display: block;
}
.form__ask select {
  display: inline-block;
  padding-right: 15px;
}
.form__ask select:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 3px;
}
.form__ask option {
  margin-top: 15px;
  display: inline-block;
  padding: 15px;
}
/* end page: contact-us */

/* footer */
.footer {
  background-color: var(--clr-primary);
  padding: 60px 0 30px 0;
}
.footer__top {
  margin-bottom: 30px;
}
.sign-up {
  display: flex;
  justify-content: space-between;
}
.footer__sup-contact {
  display: flex;
}
.sign-up__desc {
  width: 580px;
  font-size: 1.5;
  color: var(--clr-text-primary);
  margin-top: 20px;
}
.sign-up__desc:last-child {
  margin-top: 10px;
}
.sign-up__form {
  margin-right: 55px;
}
.sign-up__input {
  border: none;
  outline: none;
  padding: 24px 30px;
  transition: all 0.1s linear;
  min-width: 220px;
  margin-right: 10px;
}
.sign-up__input:focus {
  box-shadow: 0 0 0 5px var(--clr-primary), 0 0 0 8px var(--clr-text-white);
}
.footer__light {
  width: 100%;
  height: 2px;
  background-color: var(--clr-text-white);
}

.footer__bottom {
  display: flex;
  padding: 35px 0 50px;
}
.footer__support {
  margin-top: 70px;
  margin-right: 180px;
}
.footer__list {
  margin-top: 20px;
}
.footer__item {
  display: block;
  color: var(--clr-text-primary);
}
.footer__item span {
  position: relative;
}
.footer__item span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--clr-text-primary);
  bottom: 1px;
  left: 0;
  transition: all 0.25s linear;
}
.footer__item span:hover::before {
  height: 2px;
  transform: translateY(-1px);
}
.footer__contact {
  margin-top: 45px;
}
.footer__email-admin {
  display: inline-block;
  color: var(--clr-text-primary);
  margin-top: 20px;
}
.footer__find-your-future {
  margin-left: auto;
}
.footer__logo {
  display: block;
  margin-top: 80px;
}
.footer__img {
  width: 100%;
  height: 100px;
}
@media screen and (max-width: 1199.98px) {
  .more__container {
    --padding: 50px;
  }

  /* page: about futurepath education */
  .intro__container {
    --max-width: 1199.98px;
    --padding: 35px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
  }
  .read-our-manifesto h2 {
    font-size: 110px;
  }
  .our-manifesto__right,
  .our-manifesto {
    height: auto;
  }
  .read-our-manifesto h2 {
    font-size: 8rem;
  }

  .faculty-mentor__container {
    width: 999px;
  }
}
@media screen and (max-width: 1023.98px) {
  .programmes__list {
    margin-bottom: 40px;
  }
  .gallery__list {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
  .sign-up__content {
    width: 40%;
  }
  .sign-up__desc {
    width: 100%;
  }
  .sign-up__btn {
    display: block;
    margin: 20px auto 0;
  }
  .footer__support {
    margin-right: 90px;
  }
  .faculty-mentor__container {
    width: 900px;
  }
}
/* 800 */
@media screen and (max-width: 767.98px) {
  /* class in HTML */
  .container,
  .programmes__container,
  .futurepath__content {
    --max-width: 767.98px;
    --padding: 25px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
    height: 100%;
  }
  .heading-h1 {
    font-size: 6.4rem;
  }
  .desc {
    font-size: 2.2rem;
  }

  .header .nav-list,
  .header .btn.btn-header,
  .header__btn-top {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
  }
  .header .img {
    width: 140px;
  }
  .header .nav-list.active {
    position: fixed;
    inset: 0;
    background-color: #756b62b0;
    display: flex;
    flex-direction: column;
    padding: 220px 0 0 35px;
    transition: all 0.25s linear;
    z-index: 98;
  }
  .header.home {
    padding-bottom: 110px;
  }

  .hero__heading {
    width: 680px;
  }

  .more__container {
    --max-width: 767.98px;
    --padding: 40px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
  }
  .more__content p {
    font-size: 12rem;
  }
  .more__intro {
    display: flex;
    flex-direction: column-reverse;
  }
  .more__left {
    width: 100%;
  }
  .more__left button {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .more__img {
    width: 390px;
    height: 390px;
  }
  .more__scrolling {
    height: 260px;
  }
  .more__strong {
    margin-bottom: 25px;
  }
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  /* page: about futurepath education */
  .header.about-education .about-us {
    padding: 70px 0 80px 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-us__left {
    width: 80%;
  }
  .about-us__right {
    width: 80%;
    margin: 0 auto;
  }
  .intro__content {
    justify-content: space-between;
    flex-direction: column;
  }
  .intro__left {
    width: 80%;
  }
  .intro__avatar {
    margin: 0 auto;
  }
  .intro__btn-left,
  .our-manifesto__list-desc-top {
    display: none;
  }
  .intro__right {
    margin-top: 70px;
  }
  .our-manifesto {
    padding-bottom: 120px;
  }
  .our-manifesto__even {
    flex-direction: column;
  }
  .our-manifesto__left,
  .our-manifesto__right {
    width: 100%;
  }
  .our-manifesto__left {
    padding: 30px 0 0 0;
  }
  .our-manifesto__right {
    margin-top: 50px;
    height: 500px;
  }
  .our-manifesto__bottom,
  .our-manifesto__list-desc-bottom {
    display: block;
  }
  .our-manifesto__list-desc-bottom {
    margin-top: 20px;
  }
  .our-manifesto__top {
    display: none;
  }
  .our-manifesto__heading {
    margin-bottom: 40px;
  }
  .our-manifesto__flex {
    flex-direction: column;
  }
  .our-manifesto.our-manifesto--light {
    padding-bottom: 0px;
  }

  .read-our-manifesto h2 {
    font-size: 6.4rem;
  }
  /* page: why us */
  .why {
    flex-direction: column;
    align-items: center;
  }
  .why__left,
  .why__right {
    width: 100%;
  }
  /* page: location */
  .location {
    flex-direction: column;
  }
  .location__heading,
  .location__desc {
    width: 80%;
  }
  .location__heading {
    margin-bottom: 50px;
  }
  .location__desc:last-child {
    margin: 20px 0 0;
  }
  .location-image {
    height: 70%;
  }
  .heading-secondary.read-our-manifesto__heading--amazing {
    font-size: 6.6rem;
  }

  .faculty-mentor__content {
    flex-direction: column;
  }
  .faculty-mentor__container {
    width: 767px;
    width: min(100% - 20px * 2);
    margin: 0 auto;
  }
  .faculty-mentor__right {
    margin: 120px auto 0;
  }
  .faculty-mentor__img {
    height: 535px;
  }
  /* footer */
  .footer__top,
  .sign-up,
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }
  .sign-up__desc {
    width: 100%;
  }
  .footer__sup-contact {
    display: flex;
  }
  .footer__support {
    margin-right: 40px;
  }
  .sign-up__content {
    width: 80%;
  }
  .footer__img {
    width: 100%;
    height: 90px;
  }
  .sign-up__form {
    margin: 45px 0 30px 0;
  }
  .sign-up__input {
    display: block;
    margin: 0 auto;
  }
  .sign-up__btn {
    display: block;
    margin: 30px auto 0;
  }
  .sign-up__input {
    min-width: 350px;
  }
  .footer__find-your-future {
    margin: 20px auto 0;
  }
}
@media screen and (max-width: 599.98px) {
  .sign-up__content {
    width: 80%;
  }
  .faculty-mentor__container-logo {
    margin-bottom: 80px;
  }
  .faculty-mentor__img {
    height: 448px;
    width: 320px;
  }
  .faculty-mentor__logo {
    height: 80px;
  }
}
@media screen and (max-width: 479.98px) {
  /* class in HTML */
  .container,
  .programmes__container,
  .futurepath__content {
    --max-width: 479.98px;
    --padding: 20px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
    height: 100%;
  }
  .desc {
    font-size: 1.9rem;
  }
  .strong {
    font-size: 1.9rem;
  }
  .heading-primary {
    font-size: 3.8rem;
  }
  .heading-h1 {
    font-size: 5rem;
  }
  .heading-secondary.read-our-manifesto__heading--amazing {
    font-size: 2.8rem;

    margin-bottom: 20px;
  }
  .header.home {
    padding-bottom: 75px;
  }
  .header .nav-list,
  .header .btn.btn-header,
  .header__btn-top {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
  }
  .header .img {
    width: 100px;
  }
  .header .nav-list.active {
    position: fixed;
    inset: 0;
    background-color: #756b62b0;
    display: flex;
    flex-direction: column;
    padding: 220px 0 0 35px;
    transition: all 0.25s linear;
    z-index: 98;
  }

  /* hero */
  .hero__heading {
    width: auto;
  }

  .more__container {
    --max-width: 479.98px;
    --padding: 20px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
  }
  .more__intro {
    display: flex;
    flex-direction: column-reverse;
  }
  .more__left {
    width: 100%;
  }
  .more__left button {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .more__img {
    width: 270px;
    height: 270px;
  }
  .more__content p {
    font-size: 8rem;
  }
  .more__scrolling {
    height: 130px;
  }
  .more__strong {
    margin-bottom: 25px;
  }

  /* programmes */
  .programmes {
    padding-bottom: 50px;
  }
  .programmes button {
    width: 80%;
  }
  .programmes__list {
    width: 100%;
    margin-bottom: 40px;
  }

  .futurepath__heading-secondary {
    font-size: 45px;
  }
  .futurepath {
    padding: 50px 0 70px;
  }
  /* gallery */
  .gallery__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__item {
    height: 208px;
  }

  /* page: about futurepath education */
  .about-us__left,
  .intro__left {
    width: 100%;
  }
  .our-manifesto__desc {
    font-size: 1.6rem;
  }
  .our-manifesto__right {
    height: 343px;
  }

  .why {
    padding: 50px 0 70px 0;
  }
  .location-image {
    width: 100%;
    height: 290px;
  }
  .location__heading,
  .location__desc {
    width: 100%;
  }
  .location__desc {
    font-size: 1.6rem;
  }

  .faculty-intro__content {
    height: 100%;
  }
  .faculty-mentor__left {
    width: 90%;
  }
  .faculty-mentor__img {
    height: 360px;
    width: 280px;
  }
  .faculty-mentor__right {
    margin: 15px auto 0;
  }
  .faculty-intro__heading {
    bottom: 40px;
  }
  .faculty-mentor__logo {
    height: 50px;
  }

  /* footer */
  .footer__top,
  .sign-up,
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }
  .sign-up__desc {
    width: 100%;
  }
  .footer__sup-contact {
    display: flex;
  }
  .footer__support {
    margin-right: 40px;
  }
  .footer__img {
    width: 100%;
    height: 90px;
  }
  .sign-up__form {
    margin: 45px 0 30px 0;
  }
  .sign-up__input {
    display: block;
    margin: 0 auto;
  }
  .sign-up__btn {
    display: block;
    margin: 30px auto 0;
  }
  .sign-up__input {
    min-width: 350px;
  }
  .footer__find-your-future {
    margin: 20px auto 0;
  }
}
@media screen and (max-width: 431.98px) {
  /* class in HTML */
  .container,
  .programmes__container,
  .futurepath__content {
    --max-width: 431.98px;
    --padding: 20px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
    height: 100%;
  }
  .desc {
    font-size: 1.9rem;
  }
  .strong {
    font-size: 1.9rem;
  }
  .heading-primary {
    font-size: 2.8rem;
  }

  .heading-secondary.read-our-manifesto__heading--amazing {
    font-size: 2.8rem;

    margin-bottom: 20px;
  }
  .header.home {
    padding-bottom: 75px;
  }
  .header .nav-list,
  .header .btn.btn-header,
  .header__btn-top {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
  }
  .header .img {
    width: 100px;
  }
  .header .nav-list.active {
    position: fixed;
    inset: 0;
    background-color: #756b62b0;
    display: flex;
    flex-direction: column;
    padding: 220px 0 0 35px;
    transition: all 0.25s linear;
    z-index: 98;
  }
  .hero {
    margin-top: 100px;
  }
  .hero .desc {
    font-size: 1.9rem;
  }
  .hero .strong {
    font-size: 1.45rem;
  }
  .hero strong::before {
    left: -4px;
    right: -4px;
    height: 5px;
  }
  .hero__heading {
    width: 100%;
    font-size: 3.5rem;
  }
  .hero .info {
    margin: 10px 0;
  }

  .header.our-programmes .product__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .header.our-programmes .product__item {
    height: 336px;
  }
  /* faqs */
  .fqas__heading {
    padding: 35px 0 20px 0;
  }
  .faqs-accordion__ques {
    font-size: 2.3rem;
    width: 80%;
  }
  .faqs-accordion__header {
    padding: 30px 0px;
  }
  .faqs-accordion__ans {
    font-size: 1.6rem;
    line-height: 1.3;
    letter-spacing: 0.04em;
  }
  .faqs-accordion__ans:not(:last-child) {
    margin-bottom: 30px;
  }
  .read-our-manifesto {
    padding: 20px 0 25px 0;
  }
  .read-our-manifesto__btn {
    width: 100%;
  }
  /* page: location */
  .location {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
  }
  .location__heading {
    margin-bottom: 40px;
    font-size: 4.3rem;
  }
  .location__heading,
  .location__desc {
    width: 100%;
  }
  .location__desc:last-child {
    margin: 0;
  }
  .location-image {
    width: 100%;
    height: 235px;
  }
  .location-image img {
    object-fit: cover;
  }
  .location__desc {
    font-family: var(--ff-system);
    font-size: 1.6rem;
    line-height: 1.3;
  }
  /* component*/

  /* more */
  .more__container {
    --max-width: 431.98px;
    --padding: 20px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
  }
  .more__intro {
    display: flex;
    flex-direction: column-reverse;
  }
  .more__left {
    width: 100%;
  }
  .more__left button {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .more__img {
    width: 222px;
    height: 222px;
  }
  .more__content p {
    font-size: 8rem;
  }
  .more__scrolling {
    height: 130px;
  }
  .more__strong {
    margin-bottom: 25px;
  }
  .intro__avatar {
    width: 320px;
    height: 320px;
  }

  /* programmes */
  .programmes {
    padding-bottom: 50px;
  }
  .programmes button {
    width: 80%;
  }
  .programmes__list {
    width: 100%;
    margin-bottom: 40px;
  }
  /* futurepath */
  .futurepath {
    padding: 80px 0 120px 0;
  }
  .futurepath__content {
    background-color: transparent;
  }
  .futurepath__heading-secondary {
    font-size: 3.2rem;
  }
  /* end component */
  /* footer */
  .footer__top,
  .sign-up,
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }
  .sign-up__desc {
    width: 100%;
  }
  .footer__sup-contact {
    display: flex;
  }
  .footer__support {
    margin-right: 40px;
  }
  .footer__img {
    width: 100%;
    height: 90px;
  }
  .sign-up__form {
    margin: 45px 0 30px 0;
  }
  .sign-up__input {
    display: block;
    margin: 0 auto;
    min-width: 280px;
  }
  .sign-up__btn {
    display: block;
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 319.98px) {
  /* class in HTML */
  .container,
  .programmes__container,
  .futurepath__content {
    --max-width: 319.98px;
    --padding: 16px;

    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin: 0 auto;
    height: 100%;
  }
  .desc {
    font-size: 1.6rem;
  }
  .strong {
    font-size: 1.5rem;
  }
  .heading-primary {
    font-size: 2.8rem;
  }

  /* hero */
  .hero__heading {
    font-size: 3rem;
  }
  .hero .desc {
    font-size: 1.6rem;
    margin-top: 12px;
  }
  .hero .info {
    font-size: 1.4rem;
    margin-bottom: 25px;
  }

  .programmes__strong {
    font-size: 1.6rem;
    letter-spacing: 0.03em;
  }
  .programmes__item-list {
    font-size: 1.6rem;
  }

  .futurepath {
    padding: 40px 0 60px 0;
  }
  .futurepath__heading-secondary {
    font-size: 2.8rem;
  }

  .gallery__item {
    height: 151px;
  }

  .footer {
    padding: 30px 0 20px 0;
  }
  .footer__email-admin {
    margin-top: 5px;
    font-size: 1.3rem;
  }
  .footer__support {
    margin-top: 30px;
    margin-right: 30px;
  }
  .footer__contact {
    margin-top: 10px;
  }
  .footer__item {
    font-size: 1.4rem;
  }
  .footer__logo {
    display: block;
    margin-top: 34px;
  }
  .footer__img {
    width: 100%;
    height: 67px;
  }
  .footer__find-your-future {
    margin: 20px auto 0;
  }
  .sign-up__input {
    min-width: 200px;
  }
  .intro__avatar {
    width: 233px;
    height: 233px;
  }
  .read-our-manifesto h2 {
    font-size: 50px;
  }
  .our-manifesto__right {
    height: 264px;
  }
  .our-manifesto {
    padding-bottom: 40px;
  }
  .intro {
    padding: 60px 0 40px 0;
  }
}
